# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.*

# Data
data/raw/
checkpoints/
results/images/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
